:root {
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;   
    --contrast-color: #ffffff;
    --bs-gutter-y: 1.5rem;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}
.contact-title >h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
}
.contact-information {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(var(--bs-gutter-x) * 0.5);
}
.info-wrap {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    padding: 30px;
    flex: 1;
    min-width: 300px;
}
.info-item {
    margin-bottom: 20px;
}
iframe {
    border: 0;
    width: 100%;
    height: 270px;
}

:root {
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    --nav-font: "Poppins", sans-serif;
}
.info-wrap, .contact-form {
    flex: 1;
    min-width: 300px;
    max-width: calc(50% - 10px);
}
.contact-form {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-head {
    flex: 1 1 calc(50% - 10px);
    min-width: 200px;
}

.form-mid {
    flex: 1 1 100%;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button[type="submit"] {
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #31a9e1;
}