body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}

#home {
    box-sizing: border-box;
    background-color: var(--heading-color); 
    min-height: 80vh;
    padding: 120px 0 60px 0;
    display: flex;
    align-items: center;
}

.home-content {
    position: relative;
    top: -30px;
    left: 190px;
}

.home-content h1 {
    color: var(--contrast-color); 
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}

.home-content p {
    color: #C2CAD8;
    margin: 5px 0 30px 0;
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
}

.home-btn-start {
    text-decoration: none;
    color: var(--contrast-color); 
    background: var(--accent-color); 
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 12px 28px;
    border-radius: 50px;
}

.home-btn-start:hover {
    color: var(--contrast-color);
    background: color-mix(in srgb, var(--accent-color), transparent 15%);
    transition: 0.5s;
}

.home-play-btn:hover .bi-play-circle, .home-play-btn:hover .home-video-text {
    color: var(--accent-color); 
    transition: color 0.3s;
}

.bi-play-circle {
    position: relative;
    right: -20px;
    color: var(--contrast-color);
    font-size: 32px;
    vertical-align: middle;
}

.home-video-text {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: var(--contrast-color); 
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}

.home-main-img {
    position: relative;
    left: 300px;
    max-width: 35%;
    height: auto;
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#client {
    padding: 20px 0;
    background-color: #f5f6f8; 
    color: var(--contrast-color); 
}

.home-client {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.home-client1, .home-client2, .home-client3, .home-client4, .home-client5, .home-client6 {
    flex: 0 1 100px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box; 
}

.home-client1-img, .home-client2-img, .home-client3-img, .home-client4-img, .home-client5-img, .home-client6-img {
    max-width: 100%; 
    height: auto; 
}

.home-client1-img:hover, .home-client2-img:hover, .home-client3-img:hover, .home-client4-img:hover, .home-client5-img:hover, .home-client6-img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#about {
    padding: 60px 0;
}

.about-head h1:before {
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 1px;
    background: color-mix(in srgb, var(--default-color), transparent 60%);
    left: 0;
    right: 0;
    bottom: 1px;
    margin: auto;
}

.about-head h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 80px;
    padding-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    color: var(--heading-color);
    margin-top: 0;
    box-sizing: border-box;
    text-align: center;
}

.about-head h1:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.about-content {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
}

.about-content1 {
    box-sizing: border-box;
    padding-left: 30px;
    width: 45%; 
    left: 160px; 
    line-height: 20px;
    word-break: normal;
}

.about-content1 p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.bi-check2-circle {
    font-size: 20px;
    color: var(--accent-color);
}

.about-content1-icon {
    display: flex;
    flex-direction: column;
}

.about-content1-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.about-content1-item i {
    margin-right: 10px;
}

.about-content1-item li {
    list-style-type: none;
}

.about-content2 {
    padding-right: 30px;
    width: 45%;
    top: -16px;
    line-height: 20px;
    word-break: keep-all;
}

.about-content2 p{
    margin: 16px 0;
}

.about-content2-btn {
    display:flex;
    flex-direction: column;
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent-color);
}

.about-content2-btn:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
}

#whyus {
    padding: 0px;
    color: var(--default-color);
}

.about-whyus {
    padding: 30px 0;
    background-color: #f5f6f8;
    padding-left: 3rem;
}

.about-whyus h1 {
    font-weight: 400;
    font-size: 34px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}

.about-whyus h1 b {
    font-weight: bold;
}

.about-whyus p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin-top: 0;
    margin-bottom: 1rem;
}

.about-whyus-container-item1, .about-whyus-container-item2, .about-whyus-container-item3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--surface-color);
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
    max-width: 750px;
}

.about-whyus-container-item1 h3 span, .about-whyus-container-item2 h3 span, .about-whyus-container-item3 h3 span {
    color: var(--accent-color);
    padding-right: 5px;
    font-weight: 600;
}

.about-whyus-container-item1 h3, .about-whyus-container-item2 h3, .about-whyus-container-item3 h3 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin: 0 30px 0 0;
    flex-grow: 1;
}

.about-whyus-container-item1 h3:hover, .about-whyus-container-item2 h3:hover, .about-whyus-container-item3 h3:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.bi-chevron-right {
    display: inline-block;
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    margin-left: auto;
}

.bi-chevron-right:hover {
    color: var(--accent-color);
    transition: 0.5s;
}

.about-whyus-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img1 {
    display: inline-block;
    max-width: 30%;
    margin-right: 150px;
}

.about-skill {
    color: var(--default-color);
    background-color: var(--background-color);
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.about-img2 {
    max-width: 35%;
    margin-left: 180px;
    vertical-align: middle;
}

.about-skill-content {
    display: block;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.about-skill h1 {
    font-weight: bold;
    color: var(--heading-color);
    font-size: 2rem;
    font-weight: 700;
}

.about-skill p {
    margin: 20px 0;
    line-height: 30px;
    font-size: 16px;
    display: block;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    font-style: italic;
    margin-bottom: 1rem;
}

.progress1, .progress2, .progress3, .progress4 {
    display: block;
    background: none;
    border-radius: 0;
}

.progress-bar-wrap {
    background: color-mix(in srgb, var(--heading-color), transparent 90%);
    height: 10px;
    margin-bottom: 30px;
}

.about-skill1, .about-skill2, .about-skill3, .about-skill4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--heading-font);
    color: var(--default-color);
    font-weight: bold;
    font-size: 12px;
}

.about-skill-val1, .about-skill-val2, .about-skill-val3, .about-skill-val4 {
    font-family: var(--heading-font);
    color: var(--default-color);
    font-weight: bold;
    font-size: 12px;
}

.progress-bar1, .progress-bar2, .progress-bar3, .progress-bar4 {
    height: 10px;
    background-color: var(--heading-color);
}

.progress-bar1 {
    width: 100%;
}

.progress-bar2 {
    width: 90%;
}

.progress-bar3 {
    width: 75%;
}

.progress-bar4 {
    width: 55%;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px);
    }
}

@media (max-width: 768px) {
    #home {
        padding: 80px 0 40px 0;
    }

    .home-content {
        left: 0;
        text-align: center;
    }

    .home-content h1 {
        font-size: 36px;
        line-height: 48px;
    }

    .home-content p {
        font-size: 18px;
        margin: 5px 0 20px 0;
    }

    .home-main-img {
        left: 0;
        max-width: 100%;
        margin: 20px auto;
    }

    .home-btn-start {
        padding: 8px 24px 10px 24px;
    }

    .about-head h1 {
        font-size: 28px;
        margin-bottom: 50px;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content1, .about-content2 {
        width: 100%;
        left: 0;
        text-align: center;
    }

    .about-img1 {
        display: none;
    }

    .about-img2 {
        max-width: 100%;
        margin: 0 auto;
    }

    .about-skill {
        margin-top: 0;
    }

    .about-skill h1 {
        font-size: 24px;
    }

    .about-skill p {
        font-size: 14px;
    }

    .progress-bar-wrap {
        margin-bottom: 20px;
    }
}